.nrst {
	float: left;
	margin-right: 17px;
	font-size: 11px;
	max-width: 160px;
	text-align: center;
}

.nrst-holder {
	max-width: 700px;
	min-width: 450px;
	margin-top: 5px;
}

.nrst-asterisk {
        padding-top: 4px;
        font-size: 11px;
}

.nrst-firstDiv { 
        text-align: left;
        padding-right: 10px;
        border-right: 1px solid #E9E9E9;
}
