<div style="margin-bottom: 5px;">
  <div>{{approximate_area}} approximate area:</div>
  <img
    id="map"
    src="/imq2/?size=623,150&scalebar=false&bestfit={{bigbox}}&polygon=fill:0x30ff0000|color:0x20ff0000|width:1|{{coord_string}}"
    href="http://mapq.st/map?q={{loc_string}}"
  >
</div>
