.tr_odd {
    background-color: lightgrey;
}

#zero_click_abstract table {
    margin: 4px 0px 0px 20px;
}

#zero_click_abstract table td {
    padding-right: 15px;
}

#zero_click_abstract table th {
    color: 666666;
    font-size: 12px;
    font-weight: 700;
}
