.tr_odd {
    background-color: lightgrey;
}

#zero_click_abstract table {
    margin: 4px 0px 0px 20px;
}

#zero_click_abstract table td {
    vertical-align: top;
    padding: 0px 10px 10px 0px;
}

#zero_click_abstract table th {
    color: 666666;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 5px;
}
